.footerContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin: 0 10%;
  padding-top: 10px;
  border-top: 2px solid black;
  align-items: baseline;
}
.tel,
.upBtn {
  font-size: 18px;
  font-weight: bold;
}
@media (max-width: 768px) {
 .upBtn{
    display: none;
 } 
}