.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  text-align: center;
}
.h2 {
  margin: 10px auto;
  text-align: center;
  background: linear-gradient(90deg, #13b0f5 -2.06%, #e70faa 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.techStack {
  margin: 100px auto;
}
.caption {
  text-align: center;
  font-size: 18px;
}
.tech:hover{
  animation: flashing 0.3s linear 0.3s forwards;
  position: relative;
  left: -3px;
  top: 4px;
}

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
}
