.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
  text-align: center;
}
.h2 {
  margin: 10px auto;
  text-align: center;
}
.techStack {
  margin: 100px auto;
}
.caption {
  text-align: center;
}
